apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  namespace: homepage
spec:
  template:
    spec:
      containers:
        - name: homepage
          env:
            - name: HOMEPAGE_ALLOWED_HOSTS
              value: "homepage.staging.ronaldlokers.nl"
          envFrom:
            - secretRef:
                name: homepage-env
