apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - ../../base/immich
  - immich-library-pv.yaml
patches:
  - path: values-patch.yaml
    target:
      kind: HelmRelease
      name: immich
