apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  chart:
    spec:
      version: "0.10.3"
  values:
    controllers:
      main:
        containers:
          main:
            image:
              tag: v2.3.1
    server:
      ingress:
        main:
          enabled: true
          className: traefik
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-staging
            traefik.ingress.kubernetes.io/router.middlewares: kube-system-https-redirect@kubernetescrd
            nginx.ingress.kubernetes.io/proxy-body-size: "0"
          hosts:
            - host: immich.staging.ronaldlokers.nl
              paths:
                - path: /
                  pathType: Prefix
                  service:
                    identifier: main
                    port: 2283
          tls:
            - secretName: immich-tls
              hosts:
                - immich.staging.ronaldlokers.nl
    machine-learning:
      persistence:
        cache:
          storageClass: local-path
          accessMode: ReadWriteOnce
