apiVersion: v1
kind: Endpoints
metadata:
  name: proxmox
  namespace: external-services
subsets:
  - addresses:
      - ip: 10.0.1.10
    ports:
      - name: https
        port: 8006
        protocol: TCP
