apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - namespace.yaml
  - pvc.yaml
  - redis-deployment.yaml
  - server-deployment.yaml
  - machine-learning-deployment.yaml
  - services.yaml
